@import "src/styles/breakpoints";
@import "src/styles/mixins";
@import "src/styles/palette-variables";

.app {
  background: $color-bg-main;
  display: flex;
  flex-flow: column nowrap;
  min-height: 100%;
}

.container {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 10px;
  width: 100%;
  
  @media screen and (min-width: $tablet) {
    padding: 0 40px;
  }
  
  @media screen and (min-width: $desktop) {
    max-width: 1232px;
    padding: 0;
  }
}

.logo {
  @include reset-link-styles(unset, unset);
  display: block;
  
  &__img {
    display: block;
    margin: 0;
  }
}

.btn-login {
  
  &.MuiButton-root {
    color: $color-btn-login;
    font-size: 14px;
    text-transform: capitalize;
    
    @media screen and (max-width: $tablet-to-max-point) {
      padding: 0;
    }
  }
}

.tel {
  margin: 0;
  white-space: nowrap;
  
  & .MuiButtonBase-root {
    color: $color-bg-tel-menu;
    
    @media screen and (min-width: $tablet) {
      color: $color-brand-blue;
    }
  }
  
  @media screen and (min-width: $tablet) {
    margin: 0 60px 0 0;
  }
  
  &__menu {
    background: $color-bg-tel-menu;
    
    &.MuiMenu-list {
      padding: 4px 0;
    }
    
    & .MuiMenuItem-root {
      font-size: 14px;
      line-height: 1;
      min-height: 14px;
      padding: 12px 40px 12px 24px;
    }
    
    & .MuiMenuItem-root.btn-type-item {
      padding: 48px 40px 12px 24px;
    }
  }
  
  &__menu-item {
    @include reset-link-styles($color-brand-blue, $color-brand-blue-light);
    font-size: 14px;
  }
}

.btn-primary {
  
  &.MuiButton-root {
    background-color: $color-bg-btn-primary;
    border-radius: 8px;
    box-shadow: none;
    color: $color-text-black;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    padding: 18px 20px;
    text-transform: none;
    white-space: nowrap;
    width: 100%;
    
    &:hover {
      background-color: $color-bg-btn-primary;
    }
    
    &:disabled {
      background-color: $color-bg-btn-primary-disable;
      color: $color-text-grey;
    }
    
    @media screen and (min-width: $tablet) {
      width: auto;
    }
  }
}
