@import "src/styles/breakpoints";
@import "src/styles/palette-variables";

.header {
  align-items: center;
  background: $color-bg-main;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  min-height: 74px;
  position: sticky;
  top: 0;
  z-index: 10;
  
  &__options {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
  }
  
  @media screen and (max-width: $tablet-to-max-point) {
    display: none;
  }
}
